<?xml version="1.0"?>

<launch>
	<arg name="host" default="10.0.0.17" />
	<arg name="port" default="41451" />

	<node name="controller_node" pkg="assignment_pkg" type="drone_controller.py" output="screen">
   		<param name="host" type="string" value="$(arg host)" />
		<param name="port" type="int" value="$(arg port)" />
		<param name="weather" type="string" value="" />
		<param name="weather_value" type="double" value="0.25" />
   	</node>

	<node name="elevation_cli_node" pkg="assignment_pkg" type="elevation_cli.py" output="screen">
		<param name="host" type="string" value="$(arg host)" />
		<param name="port" type="int" value="$(arg port)" />
	</node>
   
	<node name="elevation_service_node" pkg="assignment_pkg" type="elevation_service.py" output="screen" />

	<node name="distance_control_node" pkg="assignment_pkg" type="obstacle_distance.py" output="screen">
		<param name="host" type="string" value="$(arg host)" />
		<param name="port" type="int" value="$(arg port)" />
	</node>
</launch>
