<?xml version="1.0"?>

<launch>
	<arg name="host" default="10.0.0.17" />

	<node name="drone_controller_node" pkg="assignment_pkg" type="drone_controller.py" output="screen">
   		<param name="host" type="string" value="$(arg host)" />
   	</node>
   
	<node name="elevation_node" pkg="assignment_pkg" type="get_elevation.py" output="screen" />
</launch>
